@import './main.scss';

* {
	font-family: $font-family;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

li {
	list-style: none;
}

.app {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.body {
	padding: 0 80px 80px;
	overflow-y: scroll;
	max-height: calc(100vh - 80px);

	@media (max-width: $mobile-width) {
		padding: 0 20px 20px;
	}
}

.search-and-filter {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	row-gap: 20px;
	z-index: 100;
	margin: 48px 0;

	@media (max-width: $mobile-width) {
		margin: 20px 0;
	}
}

.go-back {
	display: flex;
	flex-direction: row;
	align-items: center;
	column-gap: 12px;
	padding: 10px 30px;
	margin: 80px 0;
	min-width: 136px;
	min-height: 40px;
	box-shadow: $box-shadow;
	border-radius: $border-radius;
	width: max-content;
	user-select: none;
	cursor: pointer;

	@media (max-width: $mobile-width) {
		margin: 20px 0;
	}

	&__icon {
		width: 20px;
		height: 20px;
	}

	&__text {
		font-size: 16px;
	}
}

@include apply-theme(go-back);
