@import './variables.scss';

* {
	font-family: $font-family;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

li {
	list-style: none;
}

.app {
	display: flex;
	flex-direction: column;
	gap: 48px;
	min-height: 100vh;
}

.search-and-filter {
	margin: 0 80px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
