// COLORS
$dark-blue: hsl(209, 23%, 22%);
$very-dark-blue-1: hsl(207, 26%, 17%);
$very-dark-blue-2: hsl(200, 15%, 8%);
$dark-gray: hsl(0, 0%, 52%);
$very-light-gray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);

// DARK THEME
$dark-background: $very-dark-blue-1;
$dark-elements: $dark-blue;
$dark-text: $white;

// LIGHT THEME
$light-background: $very-light-gray;
$light-elements: $white;
$light-text: $very-dark-blue-2;

// TYPOGRAPHY
$font-family: 'Nunito Sans', sans-serif;

// GENERAL STYLES
$box-shadow: 0 0 7px 1px rgba($black, 0.1);
$border-radius: 5px;
$border-radius-top: 5px 5px 0 0;
$mobile-width: 1000px;
