@import '../../styles/main.scss';

.cards {
	display: grid;
	grid-gap: 75px;
	grid-template-columns: repeat(4, 1fr);
	margin: 0 80px;
	padding-bottom: 80px;

	@media (max-width: 1400px) {
		grid-gap: 40px;
	}

	@media (max-width: 1300px) {
		grid-template-columns: repeat(3, 1fr);
	}

	@media (max-width: $mobile-width) {
		margin: 0 20px;
		padding-bottom: 20px;
	}

	@media (max-width: 900px) {
		grid-template-columns: repeat(2, 1fr);
	}

	@media (max-width: 700px) {
		grid-template-columns: 265px;
		justify-content: center;
	}
}

.no-results {
	font-size: 16px;
	margin: 0 80px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0.3;
	height: 50vh;
}
