@import '../../styles/main.scss';

.header {
	padding: 23px 80px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	box-shadow: $box-shadow;
	z-index: 10;

	@media (max-width: $mobile-width) {
		padding: 30px 20px;
	}

	&__title {
		font-size: 24px;
		font-weight: 800;

		@media (max-width: $mobile-width) {
			font-size: 14px;
		}
	}
}

.theme-switch {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	column-gap: 10px;
	background-color: transparent;
	border: none;
	cursor: pointer;
	user-select: none;

	&__icon {
		width: 18px;
		height: 18px;
	}

	&__text {
		font-size: 16px;
		font-weight: 600;

		@media (max-width: $mobile-width) {
			font-size: 12px;
			font-weight: 400;
		}
	}
}

@include apply-theme(header);
