@import '../../styles/main.scss';

.search {
	width: 480px;
	border-radius: $border-radius;
	display: flex;
	flex-direction: row;
	align-items: center;
	column-gap: 25px;
	padding: 19px 30px;
	box-shadow: $box-shadow;

	&__icon {
		width: 18px;
		height: 18px;
	}

	&__input {
		border: none;
		flex: 1;
		outline: none;
		font-size: 14px;
		border-radius: $border-radius;
	}
}

@include apply-theme(search);
@include apply-theme(search__input);
